body {
  background-color: #61dafb30;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.red{ color: red;}
.bold{font-weight: bold;}

.App button{
  border: 1px solid blue;
  padding: 16px;
  background-color: green;
  font: inherit;
}
.App button:hover{
  background-color: lightgreen;
  color: black;
}
.App button.Red{
  background-color: red;
}
.App button.Red:hover{
  background-color: salmon;
}

a {
    color: inherit;
    text-decoration: none;
}
/* */