.Articles {
    direction: inherit;
    list-style-type: inherit;
    padding-inline-start: 0px;
    width: 96%;
    margin: auto;
    font-family: arial;
}

.Article {    
    margin: 2% 2% 2% 2%;
    width: 600px;
    height: 130px;
}

.container {
    background-color: white;
    width: 96%;
    height: 100%;
    display: inline-flex;
}

.container_img {
    width: 40%;
    height: 100%;
}
.container img {
    width: 94%;
    height: 94%;
    margin: 4%;
}

.container_data {
    width: 60%;
    height: 100%;
}
.container_data_title {
    width: 98%;
    height: 78%;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.21em;    
    margin: 2%;
}
.container_data_reporter {
    width: 100%;
    height: 22%;
    margin: 2%;
    vertical-align: text-bottom;
}

.FontAwesome {
    font-size: 90px;
    z-index: 972;
    position: relative;
    top: -94%;
    right: 32%;
    opacity: 0.7;
}

@media (max-width: 480px) {
    .Article {
        width: 100%;
        height: 130px;
    }
    .FontAwesome {
        top: -90%;
        right: 15%;
    }
}